@model List<User>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
    @foreach(User user in Model)
    {
        <tr>
            <td>@user.first_name @user.last_name</td>
            <td>@user.email</td>
            <td>@user.created_at.ToString("D")</td>
        </tr>
    }
    </tbody>
</table>