<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/style.css">
    <title>AspDataFun</title>
</head>
<body>
    <h1>Hello! It is @ViewBag.Color day!</h1>
    @if(ViewBag.LatestName != null)
    {
        <h2>@ViewBag.LatestName is the latest!</h2>
c    }
    <hr>
    @foreach(string name in ViewBag.Names)
    {
        <p>@name</p>
    }
    <hr>
    <h2>Add A Name</h2>
    <form action="/addname" method="post">
        <input type="text" name="first_name" placeholder="First Name:">
        <input type="text" name="last_name" placeholder="Last Name:">
        <input type="submit" value="Add">
    </form>
</body>
</html>